// replaced due to dart-sass/dart-sass-embedded conflict as of July 22 2021
//@import "./../../node_modules/@next-book/interface/src/scss/style.scss";
@import "./../../node_modules/@next-book/interface/dist/interface";
@import "fonts";
@import "title";

:root {
  --line-height: 1.52rem;

  --heading-font: "Space";
  --content-font: "Spectral", serif;

  --content-max-width: 32rem;
}

@media only screen and (min-width: 32rem) {
  --content-margin-left: calc((100vw - 32rem) / 3);
}

@supports (font-variation-settings: "wdth" 115) {
  --heading-font: "Space VF";
}

.feedback {
  border: 1px solid var(--ui-c-soft);
  border-radius: var(--border-radius);
  padding: var(--base-padding);

  p {
    margin: 0;
  }
}

.prose .content main {
  p {
    text-indent: 0rem;
    padding-left: 0;
    margin-bottom: 0;
    padding: 0;
  }

  p > .idea:first-child {
    display: block;
    text-indent: 2rem;
  }
}

.bio .content main {
  h2,
  h3 {
    font-size: 1rem;
    margin: 1.5rem 0 0.25rem;
  }

  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      padding-left: 2rem;

      &::before {
        display: inline-block;
        content: "—";
        margin-left: -2rem;
        width: 2rem;
      }
    }
  }

  .end-nav,
  .begin-nav {
    ul li::before {
      display: none;
    }
  }

  p {
    margin-top: 0;
    padding-left: 0;
    text-indent: 0;
  }
}

.characters .content main {
  ul {
    display: block;
    padding-left: 2rem;
    margin: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;
      list-style-type: none;
      margin: 0;

      li::before {
        content: "— ";
        margin-right: 0.5em;
      }
    }
  }
}

.content main {
  p {
    margin: 0 0 1.25rem 0;
    padding-left: 2rem;
    line-height: var(--line-height);
  }

  header {
    margin: 2rem 0 8rem 2rem;

    .act-name,
    h1 {
      text-indent: 0;
      margin: 0 0 0.5rem;
      padding: 0;
    }

    h1 {
      text-transform: uppercase;
    }
  }

  h2 {
    font-size: 120%;
    margin: 3rem 0 1.5rem;
  }

  p > .idea:first-child {
    display: block;
    text-indent: -2rem;

    strong {
      font-variant: small-caps;
    }
  }

  p > em:first-child,
  p > .idea:first-child > em:first-child {
    display: block;
    margin-left: 2rem;
    text-indent: 0;
  }

  blockquote {
    font-style: italic;
    margin: var(--line-height) 2rem;

    p {
      text-indent: 0;
    }
  }

  figure {
    margin: 2rem;

    img {
      width: 100%;
    }
  }

  hr {
    border: none;
    margin: 1rem 0;
  }
}

.nb-toc {
  li {
    margin-bottom: 0.25rem;
  }

  ul {
    padding-left: 0;
  }

  ol {
    padding-left: 0;
    counter-reset: section;
    list-style-type: none;

    li {
      text-indent: -4rem;
      padding-left: 4rem;
    }

    li::before {
      counter-increment: section;
      content: counter(section);

      display: inline-block;
      width: 1.5rem;
      text-indent: 0;
      font-size: 80%;
    }
  }
}

.nb-toc,
.nb-toc-other {
  a {
    font-family: var(--heading-font);
  }
}

.nb-role-cover main > div,
.nb-role-break main > div {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  background-color: black;

  align-items: baseline;

  .wrapper {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top,
  .bottom {
    box-sizing: border-box;
    width: 100%;
    padding: 5vh 5vh 7vh 5vh;
    position: absolute;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .top {
    top: 0;
    z-index: 1;
  }

  .bottom {
    bottom: 0;
    z-index: 1;
  }

  h1 {
    font-size: 1em;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 0;
  }

  .autor,
  .titul,
  .nakladatel {
    display: block;
    font-family: Space, sans-serif;
    font-size: 8vh;
    line-height: 9.25vh;
    text-indent: 0;
    padding: 0;
  }

  .titul {
    font-weight: bold;
  }

  .nakladatel {
    font-size: 7vh;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;

    font-variant-caps: all-small-caps;
    font-feature-settings: "case" on;
  }

  .underline {
    display: inline-block;
    box-sizing: border-box;

    margin-top: 1.5vh;

    width: 100%;
    height: 3.125vh;
  }

  .full {
    background-color: white;
  }

  .outline {
    border: solid white 0.625vh;
    margin-top: 0.7vh;
  }

  .composition {
    width: 80vw;
    height: 56vh;

    max-width: 75vh;
    max-height: 60vw;

    position: relative;

    margin-left: calc(30vw - 30vh);
    margin-bottom: 7vh;
  }

  .video {
    width: 56vh;
    height: 56vh;

    max-width: 60vw;
    max-height: 60vw;

    overflow: hidden;

    border-radius: 50%;

    border-collapse: separate;
    position: absolute;
    left: 0;
  }

  #hemzeni {
    width: 100%;
    height: 100%;
  }

  .vector-graphic {
    width: 56vh;
    height: 56vh;

    max-width: 60vw;
    max-height: 60vw;

    position: absolute;
    right: 0;
  }

  .vector-graphic.circle {
    background: url("../_img/circle.png") no-repeat center;
    background-size: contain;
  }

  .vector-graphic.one {
    background: url("../_img/one.png") no-repeat center;
    background-size: contain;
  }

  .vector-graphic.two {
    background: url("../_img/two.png") no-repeat center;
    background-size: contain;
  }

  .vector-graphic.three {
    background: url("../_img/three.png") no-repeat center;
    background-size: contain;
  }

  .act-number {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 56vh;
    height: 56vh;

    max-width: 60vw;
    max-height: 60vw;

    position: absolute;
    right: 0;
  }

  .act-number h2 {
    font-size: 60vh;
    line-height: 60vh;
    font-weight: bold;

    margin: 0 0 -10vh 0;
    padding: 0;
  }

  @media (max-aspect-ratio: 1/1) {
    & > a {
      font-size: 8vw;
      line-height: 9.25vw;
    }

    .underline {
      margin-top: 1.5vw;
      height: 3.125vw;
    }

    .outline {
      border: solid white 0.625vw;
      margin-top: 0.7vw;
    }

    .composition {
      margin-left: 0;
    }

    .top,
    .bottom {
      padding: 5vw 5vw 7vw 5vw;
    }
  }
}
